capstone/src/main/mule/capstone.xml

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="UserPortSoap11" service="UserPortService" wsdlLocation="userscraft.wsdl"/>
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="bc2f184c-4cf9-48f5-a121-bde3183ee93c" >
		<wsc:connection wsdlLocation="http://api.icraftsoft.net:5858/ws/users.wsdl" service="UserPortService" port="UserPortSoap11" address="http://api.icraftsoft.net:5858/ws" />
	</wsc:config>
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/users">
            <http:response statusCode="#[attributes.protocolHeaders.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[attributes.protocolHeaders.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="UpdateUser:\soapkit-config">
        <ee:transform doc:id="e048fbb5-b4e6-42cb-94e3-5f9721e50d06">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://www.craftsoftware.com/users
---
{
		ns0#UpdateUserRequest: {
		ns0#User: {
			ns0#id: payload.id, 
			ns0#fist: payload.first,
			ns0#last: payload.last,
			ns0#department: payload.department
		}
	}
    
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="30ea8ae9-774a-44a0-894a-b4fe1540b773" config-ref="Web_Service_Consumer_Config" operation="UpdateUser"/>
		<ee:transform doc:name="Transform Message" doc:id="cf40ede8-0b5b-486a-bc6f-e2d40f44a78b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	"message": "Updated!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="GetAllUsers:\soapkit-config">
		<ee:transform doc:name="Transform Message" doc:id="919a79ab-0e83-48fa-b1d0-cbe5eca47373" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetUserRequest: {
		ns0#id: null
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="3f6ce9fd-a06b-40af-b1a3-26c7d8666991" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="cae82c08-ef7e-42ea-91cb-5e36999ef6c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="CreateUser:\soapkit-config">
        <ee:transform doc:id="5c3cd302-861c-451e-9cec-c5d197e47483">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [CreateUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="DeleteUser:\soapkit-config">
		<set-variable value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Set Variable" doc:id="b2021491-5910-4cba-9d0e-852889c55f10" variableName="flowVars"/>
		<ee:transform doc:id="2b10cb2b-0f50-496b-9797-c33e75fa9686">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.craftsoftware.com/users
---
{
	ns0#DeleteUserRequest: {
		ns0#id: vars.flowVars 
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="d9fbe5f6-cc9e-4213-8d80-f45bf5bc5e01" config-ref="Web_Service_Consumer_Config" operation="DeleteUser"/>
		<ee:transform doc:name="Transform Message" doc:id="c903fd8a-61a8-4ab6-88f0-982241ff5b84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://www.craftsoftware.com/users

---
		userdeleted:{
		id: flowVars.id
		}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="GetUser:\soapkit-config">
        <ee:transform doc:id="dd54b426-c36c-401f-bbcf-10246e505b40">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: "Operation [GetUser:\soapkit-config] not implemented"
        }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="26e44b10-63f9-4b9e-9d85-d809728c79db" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5d8c41db-5cbf-4ce3-96fd-20cd42793593" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
